html {
    scroll-behavior: smooth;
}

body {
    background: var(--Background-Body, #E1D4C9);
    font-family: 'Roboto', sans-serif;
    color: var(--Text-Dark, #403F3D);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}
h1 .accent {
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}
h2 .accent {
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

a {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 20px;
}

.header-menu {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.coffee-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}
.coffee-menu {
    margin-left: 0px;
}

.hero {
    margin-top: 20px;
    max-width: 1360px;
    width: 100%;
    height: 645px;
    background-position: center;
    background-size: cover;
    background-image: url("../img/jpg/img-hero.jpg");
    background-color:  lightgray 50%;
    align-self: stretch;
    border-radius: 40px;
}
.hero-container {
    padding: 100px;
}
.offer {
    display: flex;
    max-width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    font-feature-settings: 'clig' off, 'liga' off;
}
.enjoy {
    color: var(--Text-Light, #E1D4C9);
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}
.enjoy-mark {
    color: var(--Text-Accent, #B0907A);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: italic;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
}
.offer-desc {
    color: var(--Text-Light, #E1D4C9);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
} 

.favorite-coffee {
    margin-top: 100px;
}
.favorite-header {
    color: var(--Text-Dark, #403F3D);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.favorite-header-mark {
    color: var(--Text-Accent, #B0907A); 
    font-style: italic;
}

.slider {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}

#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.row-slider {
    display: flex;
    min-width: 480px;
    max-width: 1152px;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
}

#slide-1 {
    display: flex;
    width: 1152px;
    min-width: 480px;
    max-width: 1162px;
    flex-direction: column;
    align-items: center;
}
#slide-2 {
    display: flex;
    width: 1152px;
    min-width: 480px;
    max-width: 1152px;
    flex-direction: column;
    align-items: center;
}
#slide-3 {
    display: flex;
    width: 1152px;
    min-width: 480px;
    max-width: 1152px;
    flex-direction: column;
    align-items: center;
}