html {
    scroll-behavior: smooth;
}

body {
    background: var(--Background-Body, #E1D4C9);
    font-family: 'Roboto', sans-serif;
    color: var(--Text-Dark, #403F3D);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}
h1 .accent {
    font-style: italic;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}
h2 .accent {
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

a {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: inherit;
    text-decoration: none;
}

/* Menu Button */ 
.link-button {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.menu-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
    gap: 8px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;

}

.menu-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #403F3D;
    transition: width 0.3s ease;
}

.menu-item:hover::before {
    gap: 4px;
    width: 100%;
}


.burger-link {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
}